html, body {
  font-family: arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/*------------------------ HOMEPAGE --------------------------------*/
.content {
  width: 40vw;
  margin: auto;
}

/*Header------------------------------*/
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: rgb(70,70,70);
}

.caption {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-size: 1.5vh;
  text-align: center;
}

.heading {
  text-align: center;
}

/*Search------------------------------*/
.search {
  width: 95%;
  height: 30px;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgb(200,200,200);
  padding: 10px;
  font-size: 2vh;
  margin-bottom: 30px;
  margin-left: -25px;
}

.submit_search {
  margin-left: -40px;
  vertical-align: middle;
  outline: none;
}

/*Separater------------------------------*/
.separater {
  text-align: center;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.or {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.hr {
  width: 17.7vw;
}

/*Categories------------------------------*/
.category-rows {
  width: 40vw;
  margin: auto;
  margin-bottom: 1vw;
}

.product-rows {
  width: 40vw;
}

.product {
  width: 9.65vw;
  height: 9.65vw;
  cursor: pointer;
  outine: none;
  border: 1px solid rgb(230,230,230);
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.product:hover {
  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px rgb(200,200,200);
}

.product:focus {
  outline: none;
}

#c1 { background-image: url("../images/c1.png"); }
#c2 { background-image: url("../images/c2.png"); }
#c3 { background-image: url("../images/c3.png"); }
#c4 { background-image: url("../images/c4.png"); }

#p1 { background-image: url("../images/p1.png"); }
#p2 { background-image: url("../images/p2.png"); }
#p3 { background-image: url("../images/p3.png"); }
#p4 { background-image: url("../images/p4.png"); }

.seemore-div {
  margin-top: 1.5vw;
  text-align: center;
}

.seemore {
  font-weight: bold;
  margin: auto;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(100,100,100);
}

.seemore:hover {
  color: rgb(50,50,50);
}

/*------------------------ RESULTS --------------------------------*/
.sm-header {
  width: 100vw;
  height: 10vh;
  text-align: center;
  z-index: 2;
  border-bottom: 2px solid rgb(200,200,200);
  vertical-align: middle;
}

.sm-title {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(100,100,100);
  text-decoration: none;
}

.sm-title:hover {
  color: black;
}

.sm-search {
  display: inline-block;
  margin-left: 40px;
  width: 30vw;
  margin-top: 1vw;
}

.sidebar {
  height: 88vh;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 10vh;
  border-right: 2px solid rgb(200,200,200);
  padding: 10px;
}

.zilter {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}

.zbut {
  width: 100%;
  height: 50px;
  background-color: rgb(60,60,60);
  color: white;
  border: none;
  font-size: 2vh;
  cursor: pointer;
}

.zbut:hover {
  background-color: rgb(30,30,30);
}

.results-content {
  width: 60vw;
  margin: auto;
}

.product-rows {
  width: 100vw;
}

/*------------------------ FILTER --------------------------------*/
.filter-content {
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.filter-row {
  display: inline-table;
}

.filter {
  width: 270px;
  height: 270px;
  background-color: rgb(240,240,240);
  border-radius: 5px;
  font-size: 2.5vh;
  margin: 20px;
  padding: 10px
}

.filter-title {
  width: 92%;
  height: 30px;
  border: 2px solid rgb(150,150,150);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 3vh;
}

.finish-filter {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  height: 50px;
  width: 150px;
  background-color: rgb(60,60,60);
  color: white;
  cursor: pointer;
  font-size: 2vh;
  border: none;
}

.finish-filter:hover {
  background-color: rgb(30,30,30); 
}

input[type=checkbox] {
  /*transform: scale(1.5);*/
  zoom: 1.5;
}


/*------------------------ PRODUCT --------------------------------*/
.back {
  position: absolute;
  top: 2vw;
  left: 1.5vw;
  text-decoration: none;
}

.product-page {
  width: 80vw;
  text-align: center;
}

.product-name {
  font-size: 2vh;
  margin: 1.5vw;
}

.product-div {
  display: inline-block;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 1.5vw;
}

.references {
  margin: 2vw;
  width: 100vw;
  height: 20vh;
}

/*Footer------------------------------*/
.footer {
  position: fixed;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  background: rgb(220,220,220);
  color: rgb(60,60,60);
}