html, body {
  font-family: arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #151105;
  height: 100%;
}


/*------------------------ HOMEPAGE --------------------------------*/
.content {
  width: 40vw;
  margin: auto;
  min-height: 87.1%;
}

/*Header*/
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: rgb(70,70,70);
}

.caption {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-size: 1vw;
  text-align: center;
  color: white;
}

.heading {
  text-align: center;
  margin-bottom: 3vw;
}

/*Search*/
.search {
  width: 95%;
  height: 1.5vw;
  outline: none;
  border-radius: 50px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2vh;
  margin-bottom: 30px;
  margin-left: -25px;
  background-color: #3D3C3A;
  color: white;
}

.submit_search {
  margin-left: -40px;
  vertical-align: middle;
  outline: none;
}

input::placeholder {
  font-size: 1.2vw;
}

/*Separater*/
.separater {
  text-align: center;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

/*Categories*/
.category-line {
  width: 100%;
  height: 50px;
}

.category-title {
  float:left;
  display: inline-block;
  color: white;
}

.seeall {
  float: right;
  vertical-align: middle;
  line-height: 50px;
  color: rgb(80,180,80);
  font-weight: normal;
}

.seeall:hover {
  color: rgb(100,100,100);
}

.category-rows {
  width: 40vw;
  margin: auto;
  margin-bottom: 1vw;
}

.product-rows {
  width: 42vw;
}

.product-container {
  width: 9.8vw;
  height: 12vw;
  display: inline-block;
}

.product {
  width: 9.8vw;
  height: 9.8vw;
  cursor: pointer;
  outine: none;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(240,240,240);
  padding: 10px;
  transition: all 0.3s;
}

.product:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.product:focus {
  outline: none;
}

#c1 { background-image: url("../images/c1.png"); }
/*#c2 { background-image: url("../images/c2.png"); }
#c3 { background-image: url("../images/c3.png"); }
#c4 { background-image: url("../images/c4.png"); }
#c5 { background-image: url("../images/c5.png"); background-size: 70% 60%; background-position: center}
#c6 { background-image: url("../images/c6.png"); background-size: 80% 80%; background-position: center}
#c7 { background-image: url("../images/c7.png"); background-size: 70% 70%; background-position: center}
#c8 { background-image: url("../images/c8.png"); background-size: 70% 70%; background-position: center}
#c9 { background-image: url("../images/c9.png"); background-size: 75% 75%; background-position: center}
#c10 { background-image: url("../images/c10.png"); background-size: 80% 80%; background-position: center}
#c11 { background-image: url("../images/c11.png"); background-size: 70% 70%; background-position: center}
#c12 { background-image: url("../images/c12.png"); background-size: 65% 65%; background-position: center}*/

button:disabled:hover {
  opacity: 1;
  cursor: not-allowed;
}

#p1 { background-image: url("../images/vac1.jpg"); }
/*#p2 { background-image: url("../images/p2.png"); }
#p3 { background-image: url("../images/p3.png"); }
#p4 { background-image: url("../images/p4.png"); }*/

.item {
  background-color: rgb(255,255,255) !important;
}

.product-title {
  margin-top: 0.5vw;
  display: block;
  text-align: center;
  font-size: 1vw;
  color: rgb(150,150,150);
}



/*------------------------ CATEGORIES --------------------------------*/
.seeall-title {
  font-size: 2.5vw;
  margin-left: 10vw;
  color: white;
}




/*------------------------ FILTER --------------------------------*/
.filter-content {
  text-align: left;
  height: 80.6%;
  width: 90%;
  margin: auto;
}

.filter-msg {
  font-size: 2vh;
  margin-top: 2vw;
  text-align: center;
  color: white;
}

.filter-row {
  display: inline-table;
}

.filter {
  width: 19.88vw;
  height: 300px;
  border-radius: 5px;
  font-size: 2.5vh;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.filter-title {
  position: relative;
  display: inline-block;
  width: 15vw;
  height: 30px;
  border: 2px solid rgb(200,200,200);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 3vh;
  cursor: help;
}

.popup {
  position: absolute;
  top: -100%;
  left: 0%;
  z-index: 4;
  visibility: visible;
  width: 97%;
  background-color: #555;
  color: white;
  border-radius: 5px;
  font-size: 1vw;
  text-align: justify;
  padding: 5px;
}

.filter-title:hover .popup {
  visibility: visible;
}

.finish-filter {
  position: absolute;
  bottom: 18vw;
  right: 12vw;
  height: 50px;
  width: 150px;
  color: white;
  background-color: #399937;
  border: none;
  cursor: pointer;
  font-size: 2.5vh;
  border-radius: 5px;
}

.finish-filter:hover {
  background-color: #246022;
}

input[type=checkbox] {
  zoom: 1.5;
}

.filter label {
  cursor: pointer;
  font-size: 1vw;
}


.collapsible {
  background-color: rgb(60,60,60);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: -webkit-fill-available;
  height: 15px;
  border: none;
  outline: none;
  font-size: 1.1vw;
}

.content-collapse {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.description {
  font-size: 1.1vw;
}

table {
  width: 280px;
  margin: auto;
}




/*------------------------ RESULTS --------------------------------*/
.sm-header {
  width: 100vw;
  height: 10vh;
  text-align: center;
  z-index: 2;
  border-bottom: 2px solid rgb(200,200,200);
  vertical-align: middle;
}

.sm-title {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(100,100,100);
  text-decoration: none;
}

.sm-title:hover {
  color: black;
}

.sm-search {
  display: inline-block;
  margin-left: 40px;
  width: 30vw;
  margin-top: 1vw;
}

.sidebar {
  height: 90vh;
  width: 13vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 10vh;
  background-color: #3D3C3A;
  padding: 10px;
  cursor: not-allowed;
}

.selected-filters label:hover{
  cursor: not-allowed;
}

.selected-filters input:hover {
  cursor: not-allowed;
}

.sidebarTxt {
  font-size: 0.8vw;
  color: white;
}

.selected-filters label {
  cursor: pointer;
  display: block;
}

.zilter {
  position: fixed;
  width: 14.2vw;
  height: 50px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.zbut {
  width: 100%;
  height: 50px;
  background-color: #399937;
  color: white;
  border: none;
  font-size: 2vh;
  cursor: pointer;
}

.zbut:hover {
  background-color: #246022;
}

.results-content {
  width: 60vw;
  margin: auto;
  padding-bottom: 10vh;
  z-index: 1;
}

.results-rows {
  width: 75vw;
  margin-left: 21vw;
}

.result {
  width: 15vw;
  height: 15vw;
  margin: 1.5vw;
}

#vac1 { background-image: url("../images/vac1.jpg"); }
#vac2 { background-image: url("../images/vac2.jpg"); }
#vac3 { background-image: url("../images/vac3.jpg"); }
#vac4 { background-image: url("../images/vac4.jpg"); }
#vac5 { background-image: url("../images/vac5.jpg"); }
#vac6 { background-image: url("../images/vac6.jpg"); }
#vac7 { background-image: url("../images/vac7.jpg"); }
#vac8 { background-image: url("../images/vac8.jpg"); }
#vac9 { background-image: url("../images/vac9.jpg"); }
#vac10 { background-image: url("../images/vac10.jpg"); }

.results-container {
  width: 9.8vw;
  height: 12vw;
  display: inline-table;
}

.results-title {
  margin-top: -1vw;
  display: block;
  text-align: center;
  font-size: 1vw;
  color: rgb(100,100,100);
}




/*------------------------ PRODUCT --------------------------------*/
a {
  text-decoration: none;
}

.back {
  position: absolute;
  top: 2vw;
  left: 2vw;
  cursor: pointer;
}

.back a {
  color: rgb(100,100,100);
}

.back a:hover {
  color: white;
}

.product-page {
  width: 80vw;
  margin: auto;
}

.product-name {
  font-size: 3vh;
  margin: 1.5vw;
  margin-left: 10.5vw;
  color: white;
}

.product-div {
  display: inline-block;
  background-color: #3D3C3A;
  color: white;
  border: 1px solid #3D3C3A;
  border-radius: 5px;
  width: 38.8vw;
  height: 38.8vw;
  margin: 0.5vw;
  padding: 2vw;
  font-size: 0.8vw;
}

.product-div:hover {
  border: 1px solid #3D3C3A;
}

.info-name {
  font-size: 1.5vw;
  margin: 0;
}

.reviews {
  width: 78.8vw;
}

.references {
  width: 78.8vw;
  height: auto;
  margin-bottom: 15vh;
}

.references-links {
  font-size: 1vw;
}

.references label {
  background-color: #151105;
  padding: 2px;
}

.references a {
  text-decoration: underline;
}

.hr-big {
  width: 20vw;
  border: 0.5px solid rgb(170,170,170);
}

/*Footer------------------------------*/
.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 3vw;
  line-height: 3vw;
  font-size: 0.7vw;
  background: rgb(30,30,30);
  color: white;
  padding-left: 1vw;
}