html, body {
  font-family: arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgb(230,230,230);
  height: 100%;
}


/*------------------------ HOMEPAGE --------------------------------*/
.content {
  width: 40vw;
  margin: auto;
  min-height: 87.1%;
}

/*Header*/
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: rgb(70,70,70);
}

.caption {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-size: 1.5vh;
  text-align: center;
}

.heading {
  text-align: center;
}

/*Search*/
.search {
  width: 95%;
  height: 30px;
  outline: none;
  border-radius: 50px;
  border: 1px solid rgb(200,200,200);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2vh;
  margin-bottom: 30px;
  margin-left: -25px;
  background-color: rgb(240,240,240);
}

.submit_search {
  margin-left: -40px;
  vertical-align: middle;
  outline: none;
}

/*Separater*/
.separater {
  text-align: center;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.or {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(130,130,130);
}

.hr {
  width: 17.7vw;
  border: 0.5px solid rgb(200,200,200);
}

/*Categories*/
.category-line {
  width: 100%;
  height: 50px;
}

.seeall {
  float: right;
  vertical-align: middle;
  line-height: 50px;
  color: black;
  font-weight: normal;
}

.seeall:hover {
  color: rgb(100,100,100);
}

.category-rows {
  width: 40vw;
  margin: auto;
  margin-bottom: 1vw;
}

.product-rows {
  width: 40vw;
}

.product {
  width: 9.8vw;
  height: 9.8vw;
  cursor: pointer;
  outine: none;
  border: 5px solid rgb(220,220,220);
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(240,240,240);
  padding: 10px;
}

.product:hover {
  border: 5px solid rgb(200,200,200);
}

.product:focus {
  outline: none;
}

#c1 { background-image: url("../images/c1.png"); }
#c2 { background-image: url("../images/c2.png"); }
#c3 { background-image: url("../images/c3.png"); }
#c4 { background-image: url("../images/c4.png"); }

#p1 { background-image: url("../images/p1.png"); }
#p2 { background-image: url("../images/p2.png"); }
#p3 { background-image: url("../images/p3.png"); }
#p4 { background-image: url("../images/p4.png"); }

.item {
  background-color: rgb(255,255,255) !important;
}




/*------------------------ FILTER --------------------------------*/
.filter-content {
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
  height: 80.6%;
}

.filter-row {
  display: inline-table;
}

.filter {
  width: 300px;
  height: 250px;
  background-color: rgb(220,220,220);
  border-radius: 5px;
  font-size: 2.5vh;
  margin: 10px;
  padding: 10px
}

.filter-title {
  width: 92%;
  height: 30px;
  border: 2px solid rgb(200,200,200);
  background-color: rgb(240,240,240);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 3vh;
  cursor: pointer;
}

.finish-filter {
  position: absolute;
  bottom: 4vw;
  right: 15vw;
  height: 50px;
  width: 150px;
  background-color: rgb(60,60,60);
  color: white;
  cursor: pointer;
  font-size: 2.5vh;
  border: none;
  border-radius: 10px;
}

.finish-filter:hover {
  background-color: rgb(30,30,30); 
}

input[type=checkbox] {
  zoom: 1.5;
}

.filter label {
  cursor: pointer;
}





/*------------------------ RESULTS --------------------------------*/
.hideScrollLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.15vw;
  height: 5.5vw;
  z-index: 3;
  border-right: 2px solid rgb(200,200,200);
  background-color: rgb(230,230,230);
}

.sm-header {
  width: 100vw;
  height: 10vh;
  text-align: center;
  z-index: 2;
  border-bottom: 2px solid rgb(200,200,200);
  vertical-align: middle;
}

.sm-title {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(100,100,100);
  text-decoration: none;
}

.sm-title:hover {
  color: black;
}

.sm-search {
  display: inline-block;
  margin-left: 40px;
  width: 30vw;
  margin-top: 1vw;
}

.sidebar {
  height: 87vh;
  width: 13vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 10vh;
  border-right: 2px solid rgb(200,200,200);
  background-color: rgb(200,200,200);
  padding: 10px;
}

.sidebarTxt {
  font-size: 0.8vw;
  color: rgb(100,100,100);
}

.selected-filters label {
  cursor: pointer;
  display: block;
}

.zilter {
  position: fixed;
  width: 14.2vw;
  height: 50px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.zbut {
  width: 100%;
  height: 50px;
  background-color: rgb(60,60,60);
  color: white;
  border: none;
  font-size: 2vh;
  cursor: pointer;
}

.zbut:hover {
  background-color: rgb(30,30,30);
}

.results-content {
  width: 60vw;
  margin: auto;
  padding-bottom: 10vh;
  z-index: 1;
}

.results-rows {
  width:80vw;
}

.result {
  width: 15vw;
  height: 15vw;
  margin: 1.5vw;
}

#vac1 { background-image: url("../images/vac1.jpg"); }
#vac2 { background-image: url("../images/vac2.jpg"); }
#vac3 { background-image: url("../images/vac3.jpg"); }
#vac4 { background-image: url("../images/vac4.jpg"); }
#vac5 { background-image: url("../images/vac5.jpg"); }
#vac6 { background-image: url("../images/vac6.jpg"); }
#vac7 { background-image: url("../images/vac7.jpg"); }
#vac8 { background-image: url("../images/vac8.jpg"); }
#vac9 { background-image: url("../images/vac9.jpg"); }
#vac10 { background-image: url("../images/vac10.jpg"); }




/*------------------------ PRODUCT --------------------------------*/
a {
  text-decoration: none;
}

.back {
  position: absolute;
  top: 2vw;
  left: 2.5vw;
  cursor: pointer;
}

.back a {
  color: rgb(100,100,100);
}

.back a:hover {
  color: black;
}

.product-page {
  width: 80vw;
  margin: auto;
}

.product-name {
  font-size: 3vh;
  margin: 1.5vw;
  margin-left: 10.5vw;
}

.product-div {
  display: inline-block;
  background-color: rgb(240,240,240);
  border: none;
  border-radius: 5px;
  width: 38.8vw;
  height: 38.8vw;
  margin: 0.5vw;
  padding: 2vw;
  font-size: 0.8vw;
}

.product-div:hover {
  border: none;
}

.info-name {
  font-size: 1.5vw;
  margin: 0;
}

.reviews {
  width: 78.8vw;
}

.references {
  width: 78.8vw;
}

.references-links {
  text-decoration: none;
  font-size: 1vw;
}

/*Footer------------------------------*/
.footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgb(200,200,200);
  color: rgb(60,60,60);
}